@use 'sass:meta';

@font-face {
	font-family: "SF Pro Display";
	src: url("../fonts/SF-Pro-Display-Semibold.otf") format("otf");
	font-weight: 600;
}

@font-face {
	font-family: "SF Pro Display";
	src: url("../fonts/Inter-Medium.otf") format("otf");
	font-weight: 500;
}


@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-SemiBold.otf") format("otf");
	font-weight: 600;
}

@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-Medium.otf") format("otf");
	font-weight: 500;
}


@font-face {
	font-family: "SF UI Display";
	src: url("../fonts/sf-ui-display-bold.ttf") format("ttf");
	font-weight: 700;
}

:root {
	--oranzhevyy: #fd7e15;
	--belyy: #fff;
	--seryy: #262626;
	--persikovyy: #ffd9b9;
	--defolt: #dcdcdc;
    --font-family: "SF Pro Display", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "SF UI Display", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
	max-width: 1450px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

.header__round {
    border-radius: 100%;
    padding: 13px;
    width: 52px;
    height: 52px;
    background: var(--oranzhevyy);
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        height: 27px;
    }
}

body {
	overflow-x: hidden;
}

h3 {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 36px;
	line-height: 120%;
	letter-spacing: 0.03em;
	color: var(--seryy);
	border-radius: 0 20px 20px 0;
	padding: 15px 45px 15px 55px;
	background: var(--persikovyy);
	width: max-content;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		border-radius: 50px;
		width: 3px;
		height: calc(100% + 16px);
		background: var(--oranzhevyy);
	}
}

@include meta.load-css("blocks/header");
@include meta.load-css("blocks/main");
@include meta.load-css("blocks/submain");
@include meta.load-css("blocks/tab");
@include meta.load-css("blocks/reviews");
@include meta.load-css("blocks/why");
@include meta.load-css("blocks/delivery");
@include meta.load-css("blocks/hits");
@include meta.load-css("blocks/answer");
@include meta.load-css("blocks/portfolio");
@include meta.load-css("blocks/appel");
@include meta.load-css("blocks/faq");
@include meta.load-css("blocks/descr");
@include meta.load-css("blocks/contacts");
@include meta.load-css("blocks/breadcrumbs");
@include meta.load-css("blocks/catalog");
@include meta.load-css("blocks/work");
@include meta.load-css("blocks/item-catalog");
@include meta.load-css("blocks/item-var");
@include meta.load-css("blocks/calc");
@include meta.load-css("blocks/uwu");
@include meta.load-css("blocks/notebook");
@include meta.load-css("blocks/services-category");
@include meta.load-css("blocks/order");
@include meta.load-css("blocks/order-info");
@include meta.load-css("blocks/order-form");
@include meta.load-css("blocks/order-step");
@include meta.load-css("blocks/action");
@include meta.load-css("blocks/port");
@include meta.load-css("blocks/news-item");
@include meta.load-css("blocks/footer");

// @include meta.load-css("blocks/файл");
