.breadcrumbs {
    padding-top: 129px;
    &__list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 55px;
        row-gap: 15px;
        &_item {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            position: relative;
            
            letter-spacing: 0.03em;
            color: var(--seryy);

            a {
                color: var(--seryy);
                transition: all .3s ease-in-out;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                    color: var(--oranzhevyy);
                }
            }

            &::after {
                content: '';
                width: 17px;
                display: block;
                background: url('../icons/arrow.png') center center/cover no-repeat;
                height: 13px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -34px;
            }

            &:last-child::after {
                display: none;
            }
        }
    }
}