.calc {
    padding-top: 100px;
    &__wrap {
        border: 3px solid var(--oranzhevyy);
        border-radius: 30px;
        padding: 35px 46px;
        width: 100%;
        background: var(--oranzhevyy);
        h4 {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 32px;
            line-height: 120%;
            letter-spacing: 0.03em;
            color: var(--belyy);
        }
    }
    &__list {
        margin-top: 30px;
        display: flex;
        gap: 22px;
        align-items: center;
        flex-wrap: wrap;
        list-style-type: none;
        &_item {
            display: flex;
            flex-direction: column;
            gap: 10px;

            font-family: var(--font-family);
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 0.03em;
            color: var(--belyy);

            div {
                display: flex;
                gap: 15px;
                a {
                    border: 3px solid var(--belyy);
                    border-radius: 100px;
                    padding: 10px 40px;
                    text-decoration: none;
                    width: max-content;
                    font-family: var(--font-family);
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 120%;
                    letter-spacing: 0.03em;
                    text-align: center;
                    color: var(--belyy);
                    transition: all .3s ease-in-out;

                    &:hover, &.active {
                        background: var(--belyy);
                        color: var(--oranzhevyy);
                    }
                }

                input {
                    border-radius: 100px;
                    padding: 10px 30px;
                    width: 488px;
                    height: 100%;
                    font-family: var(--font-family);
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 120%;
                    border: none;
                    letter-spacing: 0.03em;
                    color: var(--seryy);
                }
                &.price {
                    font-family: var(--font-family);
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 120%;
                    letter-spacing: 0.03em;
                    text-align: center;
                    color: var(--belyy);
                    margin-top: 11px;               
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        border-radius: 50px;
                        background: var(--persikovyy);
                        width: 3px;
                        height: 49px;
                        bottom: 0px;
                        left: -11px;
                    }
                }

                select {
                    border: 3px solid var(--belyy);
                    border-radius: 100px;
                    cursor: pointer;
                    -webkit-appearance: none;
                    padding: 10px 20px;
                    text-decoration: none;
                    width: max-content;
                    font-family: var(--font-family);
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 120%;
                    background: transparent;
                    letter-spacing: .03em;
                    text-align: center;
                    color: var(--belyy);
                    transition: all .3s ease-in-out;
                    option {
                        color: var(--seryy);
                    }
                }
            }

            span {
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 24px;
                line-height: 120%;
                letter-spacing: 0.03em;
                text-align: center;
                color: var(--belyy);
                display: flex;
                align-items: center;
            }

            span.hr {
                border-radius: 50px;
                width: 3px;
                background: var(--belyy);
            }
        }
    }
}