.category {
    padding-top: 100px;
    position: relative;
    &__list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-top: 50px;
        &_item {
            a {
                border-radius: 50px;
                padding: 15px 45px;
                background: var(--oranzhevyy);
                border: 3px solid var(--oranzhevyy);
                transition: all .3s ease-in-out;
                text-decoration: none;
                display: block;

                font-family: var(--font-family);
                font-weight: 600;
                font-size: 24px;
                line-height: 120%;
                letter-spacing: 0.03em;
                color: var(--belyy);

                &:hover {
                    background: transparent;
                    color: var(--oranzhevyy);
                }
            }
        }
    }
    p {
        margin-top: 50px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: 0.03em;
        color: var(--seryy);
    }
}