.contacts {
    padding-top: 100px;

    &__wrap {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 450px;
        align-items: center;
        gap: 30px;
    }

    &__map {
        height: 506px;
        iframe {
            border-radius: 30px;
        }
    }
    &__info {
        border: 0.50px solid var(--belyy);
        border-radius: 30px;
        padding: 50px 45px;
        width: 100%;
        backdrop-filter: blur(20px);
        background: var(--oranzhevyy);

        &_img {
            width: 130px;
            height: auto;
            margin: 0 auto;
            svg {
                width: inherit;
                height: inherit;
                object-fit: contain;
            }
        }

        &_list {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 15px;
            &-item {
                display: flex;
                align-items: center;
                gap: 10px;

                font-family: var(--font-family);
                font-weight: 600;
                font-size: 20px;
                
                letter-spacing: 0.03em;
                color: var(--belyy);

                a {
                    font-family: var(--font-family);
                    font-weight: 600;
                    font-size: 20px;
                    
                    letter-spacing: 0.03em;
                    color: var(--belyy);
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }

                div {
                    width: 26px;
                    display: flex;
                    justify-content: center;
                }

                span {
                    border-radius: 50px;
                    background: var(--belyy);
                    width: 2px;
                    height: 25px;
                }
            }
        }
    }
}