.header {
    width: 100%;
    position: fixed;
    padding: 15px 0;
    background: var(--belyy);
    left: 0;
    z-index: 10;

    &__wrap {
        display: grid;
        grid-template-columns: 129px 571px minmax(max-content, 1fr) minmax(257px, 1fr);
        gap: 20px;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 100%;
        height: 60px;
        img {
            height: inherit;
            width: inherit;
            object-fit: cover;
        }
    }

    &__list {
        list-style-type: none;
        display: flex;
        align-items: center;
        padding-right: 16px;
        gap: 15px;
        position: relative;
        &_item {
            position: relative;
            a {
                position: relative;
                z-index: 2;
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 19px;
                text-decoration: none;
                line-height: 120%;
                letter-spacing: 0.03em;
                color: var(--seryy);
                transition: all .3s ease-in-out;
                &:hover {
                    color: var(--oranzhevyy);
                }
    
                
            }

            .wrap {
                position: absolute;
                z-index: 1;
                opacity: 0;
                pointer-events: none;
                left: 0;
                top: 0;
                transition: all .3s ease-in-out;
                padding-top: 44px;
                ul {
                    border-radius: 30px;
                    padding: 25px 22px;
                    width: max-content;
                    max-width: 50vw;
                    max-height: 511px;
                    background: var(--oranzhevyy);
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    gap: 20px;
                    
                    li {
                        display: flex;
                        flex-direction: column;
                        gap: 6px;
                        .h4 {
                            font-family: var(--font-family);
                            font-weight: 600;
                            font-size: 20px;
                            width: max-content;
                            margin-bottom: 7px;
                            line-height: 120%;
                            letter-spacing: 0.03em;
                            color: var(--belyy);
                            position: relative;

                            &::after {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: -2px;
                                width: 100%;
                                border-radius: 50px;
                                height: 1px;
                                background: var(--belyy);
                            }
                        }
                        .h5 {
                            font-family: var(--font-family);
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 120%;
                            letter-spacing: 0.03em;
                            color: var(--belyy);
                            transition: all .3s ease-in-out;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }

                &__services {

                }
            }

            &:hover {
                .wrap {
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
    }

    &__address {
        display: flex;
        align-items: center;
        gap: 15px;
        &_left {
            border-radius: 36px;
            padding: 0px 10px 0px 0px;
            display: flex;
            align-items: center;
            gap: 5px;
            width: max-content;
            height: 52px;
            backdrop-filter: blur(50px);
            background: rgba(253, 126, 21, 0.4);

            &-wrap {
                display: flex;
                flex-direction: column;
                gap: 6px;
            }

            &-title {
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 16px;
                line-height: 120%;
                letter-spacing: 0.03em;
                color: var(--belyy);
            }
        }
    }

    &__rounds {
        display: flex;
        align-items: center;
        gap: 10px;
        list-style-type: none;
        justify-content: flex-end;
        &_item {
            position: relative;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 89px;
                background-color: var(--oranzhevyy);
                height: 40px;
                width: 40px;
                 
            } 

            &:last-child a {
                width: 52px;
                height: 52px;
                margin-left: 5px;
            }  
        }
    }
}


.inst::after, .inst-black::after {
    position: absolute;
    content: "*";
    display: flex;
    top: 3px;
    right: 4px;
    font-size: 13px;
    color: #fff;
    z-index: 9999999999999;
}

.inst-black::after {
    color: var(--oranzhevyy);
    top: -2px;
}