.hits {
    padding-top: 100px;

    &__catalog {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;

        a {
            border-radius: 50px;
            padding: 15px 45px;
            width: max-content;
            text-decoration: none;
            transition: all .3s ease-in-out;
            background: var(--oranzhevyy);
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 24px;
            
            letter-spacing: 0.03em;
            border: 2px solid var(--oranzhevyy);
            color: var(--belyy);

            &:hover {
                color: var(--oranzhevyy);
                background: transparent;
            }
        }
    }

    .swiper {
        margin-top: 50px;
        padding-bottom: 35px;
    }
    .swiper-slide {
        position: relative;
        min-height: 520px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            object-fit: cover;
            border-radius: 30px;
            z-index: -1;
        }

        &>span {
            border-radius: 100px;
            padding: 10px 35px;
            width: max-content;
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 24px;
            
            background: var(--oranzhevyy);
            letter-spacing: 0.03em;
            text-align: center;
            color: var(--belyy);
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 13px;
        &_round {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            background: var(--oranzhevyy);
            transition: all .3s ease-in-out;
            svg path {
                transition: all .3s ease-in-out;
            }
            &:hover {
                background: var(--belyy);
                svg path {
                    fill: var(--oranzhevyy);
                }
            }
        }
    }
    &__bottom {
        border-radius: 50px;
        padding: 13px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 20px;
        
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--belyy);
        text-decoration: none;
        background: var(--oranzhevyy);
        transition: all .3s ease-in-out;

        &:hover {
            background: var(--belyy);
            color: var(--oranzhevyy);
        }
    }
    &__wrap {
        position: relative;
        padding-left: 225px;
    }
    .swiper-button-prev {
        left: 135px;
        border-radius: 100%;
        background: var(--oranzhevyy);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border: 3px solid var(--oranzhevyy);
        svg {
            width: 15px;
            height: 26px;
            object-fit: contain;
            path {
                transition: all .3s ease-in-out;
            }
        }
        &::after {
            display: none;
        }
        transition: all .3s ease-in-out;
        &:hover {
            background: transparent;
            svg path {
                fill: var(--oranzhevyy);
            }
        }
    }
    .swiper-scrollbar {
        position: static!important;
        margin-top: 30px;
        height: 5px!important;
        background: var(--persikovyy);
    }
    .swiper-scrollbar-drag {
        background: var(--oranzhevyy);
        border-radius: 5px;
        height: 100%;
    }

    .wrap {
        max-width: 1450px;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        display: flex;
        left: -29px;
        justify-content: flex-end;
    }
}