.order {
    position: relative;
    padding-top: 100px;
    &>svg {
        position: absolute;
        left: 0;
        width: 100%;
        height: auto;
        object-fit: contain;
        z-index: -1;
        top: 179px;
    }
    p {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 24px;
        
        letter-spacing: 0.03em;
        color: var(--seryy);

        b, strong {
            color: var(--oranzhevyy);
        }

        &:first-of-type {
            margin: 50px 0 30px;
        }
    }
}