.order-step {
    position: relative;
    padding-top: 100px;
    &>svg {
        position: absolute;
        left: 0;
        z-index: -1;
        width: 100%;
        height: auto;
        object-fit: contain;
        top: 179px;
    }
    &__list {
        margin-top: 50px;
        list-style-type: none;
        position: relative;
        &_before {
            position: absolute;
            top: 0;
            left: 22px;
            width: 5px;
            z-index: -1;
            background: linear-gradient(180deg, #ffd9b9 0%, #fd7e15 100%);
        }

        &_item {
            display: grid;
            grid-template-columns: 50px 1fr;
            gap: 20px;
            &-round {
                width: 100%;
                height: auto;
                svg {
                    width: inherit;
                    height: inherit;
                    object-fit: contain;
                }
            }
            &-content {
                padding: 10px 0 30px;
                h4 {
                    font-family: var(--font-family);
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 120%;
                    letter-spacing: 0.03em;
                    color: var(--seryy);
                }
                p {
                    margin-top: 10px;
                    font-family: var(--font-family);
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 120%;
                    letter-spacing: 0.03em;
                    color: var(--seryy);
                }
            }
        }
    }
}