@media (max-width: 1440px) {
    .notebook__tab_btns, .notebook__tab_content-top {
        flex-wrap: wrap;
    }
    .order-info__list_item-wrap span {
        width: 100%;
        max-width: max-content;
    }
    .port__list_item a span:first-of-type {
        width: 100%;
        max-width: max-content;
    }
    .header {
        
        &__wrap {
            grid-template-columns: 129px 571px minmax(max-content, 1fr);
        }
        &__rounds {
            grid-column-start: 3;
            justify-content: flex-start;
            grid-column-end: 4;
        }
    }
    .main {
        &__wrap {
            grid-template-columns: 530px 1fr;
        }
        &__left {
            h1 {
                font-size: 80px;
            }
        }
    }
    .uwu__wrap {
        grid-template-columns: 1fr 550px;
    }
    .breadcrumbs {
        padding-top: 170px;
    }
    .reviews {
        &__top {
            font-size: 22px;
        }
    }
    .footer {
        &__list {
            grid-template-columns: repeat(5, 1fr) max-content;
            &_item {
                .wrap {
                    flex-direction: column;
                }
            }
        }
    }
    .work {
        &__items {
            grid-template-columns: 1fr;
            gap: 30px;
            padding-left: 0;
            &_item {
                padding: 5px 0!important;
            }
            &:last-child {
                margin-top: 30px;
                padding-left: 0;
            }
        }
        &__list {
            display: none;
        }
    }
    
    .action__list_item a {
        span {
            font-size: 20px;
        }
        p {
            font-size: 14px;
        }
    }
    .category__list_item a {
        padding: 10px 30px;
        border-width: 2px;
        font-size: 20px;
    }
    .category p {
        font-size: 20px;
    }
    .order-info__list_item-wrap span {
        padding: 10px 30px;
    }
    .order-info__list_item {
        gap: 10px;
    }
}

@media (max-width: 1200px) {
    .header {
        &__wrap {
            grid-template-columns: 129px minmax(max-content, 1fr) minmax(max-content, 1fr) 30px;
        }
        &__btn {
            display: flex;
        }
        &__list {
            position: absolute;
            transition: all .3s ease-in-out;
            background-color: var(--belyy);
            left: -100%;
            padding: 20px;
            padding-bottom: 100px;
            align-items: start;
            transition: all .3s ease-in-out;
            top: 90px;
            height: 100vh;
            flex-direction: column;
            width: 40%;
            overflow-y: auto;
            &.active {
                left: 0;
            }
            &_item {
                .wrap {
                    position: static;
                    padding-top: 0;
                    pointer-events: all;
                    opacity: 1;
                    ul {
                        padding: 15px 20px;
                        background-color: transparent;
                        li .h5, li .h4 {
                            color: var(--seryy);
                        }
                    }
                }
            }
        }
    }
    .order p {
        font-size: 22px;
    }
    .order-info__list_item-left h4 {
        font-size: 26px;
    }
    .order-info__list_item-left h5 {
        font-size: 20px;
    }
    .order-info__list_item-wrap span, .order-info__list_item-right>ul>li>ul>li {
        font-size: 18px;
    }
    .order-info__list_item-right>ul>li {
        font-size: 16px;
    }
    .order-info__list_item-right>ul>li span, .order-info__list_item-right>span {
        font-size: 20px;
    }
    .item-catalog {
        &__wrapper {
            grid-template-columns: 390px 1fr;
        }
        &__content {
            p {
                font-size: 20px;
            }
            ul li {
                font-size: 18px;
            }
            &_wrap {
                a {
                    padding: 10px 30px;
                    border-radius: 20px;
                    font-size: 20px;
                    svg {
                        width: 13px;
                    }
                }
            }
        }
    }
    .item-var__list {
        grid-template-columns: repeat(3, 1fr);
        &_item {
            &-title {
                font-size: 18px;
            }
        }
    }
    .item-catalog__btns a svg {
        width: 23px;
    }
    .portfolio__wrap a, .hits__catalog a, .item-catalog__btns a {
        font-size: 20px;
        padding: 10px 20px;
        border-radius: 20px;
    }
    .uwu__wrap {
        grid-template-columns: 1fr 460px;
    }
    .uwu__title {
        font-size: 25px;
    }
    .uwu__subtitle {
        font-size: 20px;
    }
    .uwu__link {
        margin-top: 30px;
        font-size: 20px;
        padding: 10px 30px;
    }
    .cart {
        &__wrap {
            grid-template-columns: 1fr;

        }
        &__order {
            max-width: 330px;
        }
    }
    .breadcrumbs {
        padding-top: 110px;
    }
    .category__list_item a {
        padding: 10px 20px;
        font-size: 18px;
    }
    .category p {
        font-size: 18px;
    }
    .catalog {
        p {
            font-size: 22px;
        }
    }
    section > svg, section > div > svg {
        display: none;
    }
    .main {
        &__wrap {
            grid-template-columns: 460px 1fr;
        }
        &__left {
            h1 {
                font-size: 68px;
            }
        }
        &__link {
            font-size: 20px;
        }
        &__list {
            &_item {
                a {
                    font-size: 20px;
                    .header__round {
                        width: 42px;
                        height: 42px;
                    }
                }
            }
        }
    }

    .action__list_item a {
        span {
            font-size: 18px;
            &:last-of-type {
                width: 40px;
                height: 40px;
                svg {
                    width: 12px;
                }
            }
        }
        div {
            padding: 10px 30px;
            font-size: 16px;
            border-width: 2px;
        }
    }

    .tab {
        &__list {
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 220px;
            &_item {
                grid-column: auto!important;
                grid-row: auto!important;
                &:last-child {
                    grid-column: 1/3!important;
                }
            }
        }
    }
    .reviews {
        .swiper {
            margin-right: 100px;
        }
        .swiper-button-next {
            right: 20px;
        }
        &__top {
            font-size: 20px;
        }
        &__list {
            &_item {
                width: 23px;
            }
        }
    }
    h3 {
        font-size: 30px;
        padding: 15px 45px;
    }
    .hits {
        &__wrap {
            padding-left: 100px;
        }
        .swiper-button-prev {
            left: 20px;
        }
    }
    .portfolio {
        .swiper {
            margin-right: 100px;
        }
        .swiper-button-prev {
            right: 20px;
        }
    }
    .appel {
        &__wrap {
            grid-template-columns: 1fr 350px;
        }
    }
    .contacts {
        &__map {
            height: 312px;
        }
    }
    .footer {
        &__wrap {
            flex-direction: column;
        }
        &__list {
            grid-template-columns: repeat(5, 1fr);
            row-gap: 30px;
            margin-top: 20px;
            &_item {
                &:last-child {
                    grid-column: 1/3;
                }
                .wrap {
                    flex-direction: row;
                    flex-wrap: wrap;
                }
            }
        }
    }
    .order-form__wrap_list {
        flex-wrap: wrap;
    }
    .news-item p {
        font-size: 20px;
    }
    .news-item ul li, .news-item p:last-of-type {
        font-size: 18px;
    }
    .notebook p {
        font-size: 20px;
    }
    .notebook__tab_content p {
        font-size: 18px;
    }
    .notebook__tab_content-top span {
        padding: 10px 20px;
    }
    .notebook__tab_btns a, .notebook__tab_content-top span:first-of-type {
        padding: 10px 30px;
        border-width: 2px;
        font-size: 20px;
    }
    .payment {
        a {
            padding: 10px 30px;
            font-size: 20px;
        }
        p {
            font-size: 20px;
            &+p {
                font-size: 18px;
            }
        }
    }
    .port__list {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 991px) {
    .news-item__img {
        height: 200px;
        img {
            border-radius: 20px;
        }
    }
    .news-item p {
        font-size: 18px;
    }
    .news-item ul li, .news-item p:last-of-type {
        font-size: 16px;
    }
    .contacts {
        &__wrap {
            grid-template-columns: 1fr;
        }
        &__info {
            max-width: 450px;
            margin: 0 auto;
        }
    }
    .action__list {
        grid-template-columns: 1fr;
        
    }
    .cart {
        &__list {
            &_item {
                grid-template-columns: 230px 1fr max-content;
                img {
                    border-radius: 20px;
                }
                &-wrap {
                    gap: 10px;
                    h4 {
                        font-size: 24px;
                    }
                    h5 {
                        font-size: 18px;
                    }
                }
                &-price {
                    border-radius: 16px;
                    font-size: 20px;
                    padding: 10px 20px;
                }
            }
        }
    }
    .header {
        &__wrap {
            grid-template-columns: 129px minmax(max-content, 1fr) 52px 30px;
        }
        &__rounds {
            &_item {
                display: none;
                &:last-child {
                    display: flex;
                    a {
                        margin: 0;
                    }
                }
            }
        }
    }
    .main {
        &__wrap {
            grid-template-columns: 1fr;
        }
        &__right {
            display: none;
        }
    }

}

@media (max-width: 991px) {
    .why {
        &__wrap {
            grid-template-columns: 1fr;
        }
    }
    .port__list {
        grid-auto-rows: minmax(200px, 1fr);
    }
    .hits__catalog {
        flex-wrap: wrap;
    }
    .portfolio {
        &__wrap {
            a {
                padding: 10px 30px;
                font-size: 18px;
            }
        }
    }
    h3 {
        font-size: 25px;
        padding: 10px 30px;
    }
    .appel {
        &__wrap {
            grid-template-columns: 1fr;
        }
        &__img {
            max-width: 320px;
            margin: 0 auto;
            grid-row: 1;
        }
        &__content {
            padding-top: 0;
        }
    }
    .faq {
        &__list {
            &_item {
                height: 70px;
                &-top {
                    font-size: 20px;
                    padding: 15px 0;
                    grid-template-columns: 1fr 40px;
                }
                &-round {
                    width: 40px;
                    height: 40px;
                    div span {
                        height: 2px;
                        width: 18px;
                    }
                }
            }
        }
    }
    .descr__wrapper p:has(>b), .descr__wrapper p:has(>strong) {
        font-size: 18px;
    }
    .descr__wrapper img.right {
        margin-bottom: 20px;
        float: none!important;
        margin-left: 0;
    }
    .descr__wrapper img.left {
        float: none!important;
        margin-right: 0;
    }
    .descr__btn span {
        width: 21px;
    }
    .descr__btn {
        font-size: 20px;
    }
    .catalog {
        p {
            font-size: 20px;
        }
        &__list_item-top {
            font-size: 18px;
        }
    }
    .item-catalog {
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__img {
            height: 300px;
        }
    }
    .item-var__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .uwu__wrap {
        grid-template-columns: 1fr;
    }
    .uwu__img {
        grid-row-start: 1;
    }
    .order-form .container .order-form__wrap {
        border-radius: 20px;
        max-height: 80vh;
        overflow-y: scroll;
    }
    .order-step__list_item-content h4 {
        font-size: 20px;
    }
    .order-step__list_item-content p {
        font-size: 18px;
    }
    .order {
        p {
            font-size: 20px;
        }
    }
    .order-info {
        &__list {
            &_item {
                row-gap: 25px;
                grid-template-columns: 1fr;
                &-left {
                    h4 {
                        font-size: 22px;
                    }
                    h5 {
                        font-size: 18px;
                    }
                }
                &-wrap {
                    span {
                        padding: 10px 20px;
                        border-radius: 10px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .portfolio, .subport {
        h4 {
            font-size: 20px;
            &+p {
                font-size: 18px;
            }
        }
    }
    .port__list_item a span {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .footer__list_item:last-child {
        grid-column: auto;
    }
    .port__list {
        grid-template-columns: 1fr;
    }
    .portfolio {
        h4 {
            font-size: 18px;
            &+p {
                font-size: 16px;
            }
        }
    }
    .hits__catalog a, .item-catalog__btns a, .portfolio__wrap a {
        font-size: 16px;
        border-width: 2px;
    }
    .item-catalog__btns {
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .calc__list_item div input, .calc__list_item:nth-child(1), .calc__list_item:nth-child(2) {
        width: 100%;
    }
    .calc__list_item div a, .calc__list_item div select {
        padding: 10px 20px;
        border-width: 2px;
        font-size: 18px;
        border-radius: 20px;
    }
    .calc__wrap h4, .calc__list_item div.price {
        font-size: 22px;
    }
    
    .calc__list_item, .calc__list_item div input {
        font-size: 18px;
    }
    .catalog {
        &__list {
            grid-template-columns: 1fr;
            &_item {
                &-span {
                    grid-column: 1/2;
                }
                &-round {
                    margin: 0;
                    grid-row: 1 / 3;
                    grid-column: 2;
                }
                &-bottom {
                    display: grid;
                    justify-content: space-between;
                    column-gap: 10px;
                    grid-template-columns: max-content 60px;
                }
            }
        }
    }
    .work__items_item  {
        h4 {
            font-size: 20px;
        }
        h5 {
            font-size: 16px;
        }
    }
    .footer__list {
        grid-template-columns: 1fr;
    }
    .header {
        &__address {
            display: none;
        }
        &__list {
            width: 70%;
        }
    }
    .main {
        &__link {
            padding: 10px 30px;
            font-size: 16px;
        }
        &__left {
            h1 {
                max-width: 90%;
                font-size: 51px;
                &::before {
                    height: 70px;
                    border-radius: 0 20px 20px 0;
                }
            }
        }
    }
    .tab {
        &__list {
            grid-template-columns: 1fr;
            &_item {
                &:last-child {
                    grid-column: auto!important;
                }
            }
        }
        &__btns {
            justify-content: space-between;
            &_btn {
                border-radius: 13px;
                padding: 10px 30px;
                font-size: 20px;
            }
            &_line {
                height: 60px;
            }
        }
    }
    .order-step__list_item-content h4 {
        font-size: 18px;
    }
    .order-step__list_item-content p {
        font-size: 16px;
    }
    .order-step__list_item {
        gap: 10px;
        grid-template-columns: 40px 1fr;
    }
    .order-step__list_before {
        left: 18px;
    }
    .order-form__wrap_list input {
        max-width: 266px;
        width: 100%;
    }
    .order-form .container .order-form__wrap {
        padding: 20px;
        border-radius: 10px;
    }
    h3 {
        font-size: 18px;
        border-radius: 13px;
        padding: 10px 20px;
    }
    .delivery {
        &__list {
            grid-template-columns: 1fr;
            &_item {
                &-title {
                    font-size: 20px;
                }
                p {
                    font-size: 18px;
                }
                ul li {
                    font-size: 17px;
                }
            }
        }
    }
    .payment {
        a {
            padding: 10px 20px;
            font-size: 18px;
            width: 100%;
            max-width: max-content;
        }
        p {
            font-size: 18px;
            &+p {
                font-size: 16px;
            }
        }
    } 
    .answer {
        h4 {
            font-size: 30px;
        }
        p {
            font-size: 20px;
        }
    }
    .notebook p {
        font-size: 18px;
    }
    .notebook__tab_content p {
        font-size: 16px;
    }
    .portfolio {
        &__wrap {
            a {
                padding: 10px 35px;
                font-size: 16px;
            }
        }
    }
    .cart {
        &__wrap {
            justify-items: center;
        }
        &__list {
            &_item {
                grid-template-columns: 1fr;
            }
        }
    }
    .appel {
        &__content {
            &_bottom {
                align-items: flex-start;
                flex-direction: column;
            }
        }
    }
    .descr__wrapper img.left, .descr__wrapper img.right, .descr__wrapper img {
        width: 100%;
    }
    .order-form__btns_btn, .order-form form button {
        padding: 10px 20px;
        border-width: 2px;
        width: 100%;
        max-width: max-content;
        font-size: 16px;
        a {
            font-size: 16px;
        }
    }
    .order-form__wrap h4 {
        font-size: 18px;
    }
    .order-form form p {
        font-size: 14px;
    }
    
}

@media (max-width: 480px) {
    .tab__list_item-title {
        max-width: 100%;
        font-size: 16px;
    }
    .tab__list_item img {
        border-radius: 20px;
    }
    .catalog p {
        font-size: 18px;
    }
    .catalog__list_item-round {
        width: 40px;
        height: 40px;
        svg {
            width: 12px;
        }
    }
    .catalog__list_item img {
        border-radius: 20px;
    }
    .catalog__list_item-span {
        padding: 10px 20px;
    }
    .tab__btns {
        flex-direction: column;
        align-items: start;
        gap: 10px;
        &_line {
            display: none;
        }
    }
    .main__left h1 {
        font-size: 35px;
    }
    .main__link {
        width: 100%;

    }
    .category__list_item a {
        font-size: 16px;
        border-radius: 20px;
    }
    .order p {
        font-size: 18px;
    }
    .order-info {
        &__list {
            &_item {
                &-left {
                    h4 {
                        font-size: 20px;
                    }
                    h5 {
                        font-size: 16px;
                    }
                }
                &-wrap span {
                    font-size: 14px;
                }
                &-right {
                    &>span {
                        font-size: 18px;
                    }
                    &>ul>li {
                        font-size: 14px;
                        span {
                            font-size: 18px;
                        }
                        &>ul>li {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .category p {
        margin-top: 20px;
        font-size: 16px;
    }
    .catalog {
        &__list {
            &_item {
                &-top {
                    width: 100%;
                    padding: 10px 15px;
                    text-align: center;
                    font-size: 16px;
                }
                &-span, &-round {
                    grid-column: auto;
                    grid-row: auto;
                }
                &-bottom {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
    .port__list_item a span {
        padding: 10px 20px;
        font-size: 16px;
    }
    .payment {
        a {
            border-radius: 15px;
            font-size: 16px;
        }
        p {
            font-size: 16px;
            &+p {
                font-size: 14px;
            }
        }
    } 
    .news-item p {
        font-size: 16px;
    }
    h3 {
        width: 100%;
    }
    .faq__list_item-top, .faq__list_item-descr {
        font-size: 16px;
    }
    .why {
        p {
            font-size: 16px;
        }
        &__list {
            &_item {
                flex-direction: column;
                align-items: start;
                &-title {
                    font-size: 18px;
                }
            }
        }
    }
    .contacts__info {
        border-radius: 20px;
        padding: 20px;
    }
    .item-var__list {
        grid-template-columns: 1fr;
    }
    .uwu {
        &__wrap {
            padding: 15px;
            border-radius: 15px;
        }
        &__img {
            border-radius: 15px;
            height: 200px;
        }
        &__title {
            font-size: 18px;
        }
        &__subtitle {
            font-size: 16px;
        }
    } 
    .calc__wrap {
        border-radius: 15px;
        padding: 15px;
    }
    .calc__list {
        gap: 20px;
    }
    .subport {
        h4 {
            font-size: 18px;
            &+p {
                font-size: 16px;
            }
        }
    }
    .item-catalog {
        &__img {
            height: 250px;
        }
        &__content {
            p {
                font-size: 16px;
            }
            &_wrap {
                a {
                    padding: 10px 20px;
                    font-size: 16px;
                    border-radius: 15px;
                }
                align-items: start;
                flex-direction: column;
            }
            ul  {
                gap: 30px;
                li {
                    font-size: 15px;
                    flex-direction: column;
                    align-items: start;
                    gap: 10px;
                    span {
                        width: 100%;
                        border-radius: 20px;
                        max-width: max-content;
                        padding: 10px 20px;
                    }
                }
            }
        }
    }
    .item-var__list_item-wrap {
        gap: 15px;
    }
    .item-var p {
        font-size: 16px;
    }
    .calc__list_item div {
        gap: 5px;
        flex-direction: column;
    }
    .contacts__info_list-item {
        flex-direction: column;
        align-items: start;
        span {
            display: none;
        }
    }
    .contacts__info_list-item, .contacts__info_list-item a {
        font-size: 16px;
    }
    .appel {
        &__content {
            h4, p {
                font-size: 16px;
            }
        }
    }
    .swiper-button-prev, .swiper-button-next {
        display: none!important;
    }
    .delivery__list_item-top {
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
    .swiper {
        margin: 20px!important
    }
    .hits__bottom {
        max-width: 100%;
    }
    .header__list_item .wrap ul {
        max-width: unset;
    }
    .header__list {
        width: 100%;
    }
    .reviews__top {
        flex-direction: column;
        gap: 0;
        align-items: start;
    }
    .hits__wrap {
        padding: 0;
    }
    .action__list_item a span {
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 20px;
    }
    .swiper-slide span {
        max-width: 100%!important;
        font-size: 16px!important;
    }
    .answer__form {
        grid-template-columns: 1fr;
    }
    .answer p {
        font-size: 16px;
    }
    .answer__wrap {
        padding: 20px;
        border-radius: 20px;
    }
    .answer h4 {
        font-size: 22px;
    }
    .answer button {
        font-size: 20px;
        height: 50px;
    }
}